<ul>
  <li><%= link_to "announcements", announces_path %></li>
  <li><%= link_to "art", arts_path %></li>
  <li><%= link_to "art splices", art_splices_path %></li>
  <li><%= link_to "authors", authors_path %></li>
  <li><%= link_to "author-pieces", author_pieces_path %></li>
  <li><%= link_to "clearances", clearances_path %></li>
  <li><%= link_to "color-schemes", color_schemes_path %></li>
  <li><%= link_to "current issue", current_issues_path %></li>
  <li><%= link_to "issues", issues_path %></li>
  <li><%= link_to "pieces", pieces_path %></li>
  <li><%= link_to "splash splices", splash_splices_path %></li>
  <li><%= link_to "work types", work_types_path %></li>
</ul>