<p id="notice"><%= notice %></p>

<p>
  <strong>Name first:</strong>
  <%= @author.name_first %>
</p>

<p>
  <strong>Name mid:</strong>
  <%= @author.name_mid %>
</p>

<p>
  <strong>Name last:</strong>
  <%= @author.name_last %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @author.bio %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
