<h1>Listing arts</h1>

<table>
  <thead>
    <tr>
      <th>Issue</th>
      <th>Title</th>
      <th>Info</th>
      <th>Is splash</th>
      <th>Is footer</th>
      <th>Type</th>
      <th>Au</th>
      <th>Width</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arts.each do |art| %>
      <tr>
        <td><%= art.issue %></td>
        <td><%= art.title %></td>
        <td><%= art.info %></td>
        <td><%= art.is_splash %></td>
        <td><%= art.is_footer %></td>
        <td><%= art.type %></td>
        <td><%= art.au_id %></td>
        <td><%= art.width %></td>
        <td><%= link_to 'Show', art %></td>
        <td><%= link_to 'Edit', edit_art_path(art) %></td>
        <td><%= link_to 'Destroy', art, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Art', new_art_path %>
