<%= form_for(@splash_splice) do |f| %>
  <% if @splash_splice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@splash_splice.errors.count, "error") %> prohibited this splash_splice from being saved:</h2>

      <ul>
      <% @splash_splice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :art_id %><br>
    <%= f.number_field :art_id %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :path %><br>
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
