<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @splash_splice.id %>
</p>

<p>
  <strong>Art:</strong>
  <%= @splash_splice.art_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @splash_splice.order %>
</p>

<p>
  <strong>Path:</strong>
  <%= @splash_splice.path %>
</p>

<p>
  <strong>Text:</strong>
  <%= @splash_splice.text %>
</p>

<%= link_to 'Edit', edit_splash_splice_path(@splash_splice) %> |
<%= link_to 'Back', splash_splices_path %>
