<h1>Listing clearances</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clearances.each do |clearance| %>
      <tr>
        <td><%= clearance.name %></td>
        <td><%= link_to 'Show', clearance %></td>
        <td><%= link_to 'Edit', edit_clearance_path(clearance) %></td>
        <td><%= link_to 'Destroy', clearance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clearance', new_clearance_path %>
